
// Extensão .scss para usar o SASS

.title {
   color: purple;
   font-size: 2rem;

   // Com o SASS podemos ter estilos em cascata
   span {
      color: var(--azul);
      font-size: 3rem;
   }

}

#comID {
   color: royalblue;
}