
#container {
   max-width: 1028px;
   margin: 0 auto;
   // Calculando a altura da tela do usuário
   height: calc(100vh - 6rem);

   display: flex;
   align-items: center;
   flex-direction: column;

   img {
      margin-top: 1rem;
   }

   .sponsor {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      margin-top: 2rem;
      padding: 0.5rem 1rem;

      background-color: var(--verde);
      border-radius: 8px;
      
      img {
         width: 3rem;
         border-radius: 50%;
         margin: 0 1rem 0 0;
      }

      span {
         font-size: 1rem;
         color: var(--white);
         font-weight: 600;
      }
   }

   .text {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;

      h1 {
         margin-top: 0.5rem;
         font-size: 2rem;
      }

      h3 {
         font-size: 1.5rem;
         
         span {
            color: var(--verde);
            font-weight: 600;
         }
      }

      h4 {
         font-size: 1rem;
         background-color: var(--primaryC);
         padding: 0.5rem 1rem;
         border-radius: 6px;
         color: var(--bg);
      }
   }

   .paypal {
      margin-top: 2.5rem;
   }
}